body {
  font-family: "Montserrat", sans-serif;
}

/*  cotainer ////////////////////////////////////////////////////////////////////////////////////// */

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 30px;
}

.container_contact {
  max-width: 1380px;
}

/* common styles ///////////////////////////////////////////////////////////////////////////////// */

.__text__title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}

.__text__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.__text__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 110px;
  line-height: 25px;
}

.__text__text {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}

.__text__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.__btn {
  font-family: "Montserrat", sans-serif;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}

.__btn._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.__btn__text {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  background-color: #f39235;
  padding: 14px 40px;
  border-radius: 25.5px;
  -webkit-box-shadow: 4px 10px 16px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 10px 16px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 10px 16px 0px rgba(34, 60, 80, 0.2);
  transition: 0.3s all ease;
  border: 0px;
}

.__btn__text.__btn__text__chartdiv {
  position: relative;
  z-index: 4;
}

.__btn__text:hover {
  background-color: #000;
  color: #fff;
}

/* header ////////////////////////////////////////////////////////////////////////////////////// */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.3s all ease;
  /* background-color: blueviolet; */
}

.header.header_black {
  background-color: #000;
}

.header__body {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 15px;
}

.header__body.header-fixed {
  background-color: black;
}

.header__logo {
  flex: 0 0 154px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__menu {
  justify-self: center;
}

.header__list {
  display: flex;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin-right: 60px;
}

.header__list li:last-child {
  margin-right: 0px;
}

.header__link {
  font-family: "Montserrat";
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  font-size: 15px;
  position: relative;
}

.header__link.active__ {
  font-weight: 700;
}

.header__link.active__::before {
  content: "";
  width: 98%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #f39235;
}

.header__link:after {
  content: "";
  width: 98%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #f39235;
  transform: scale(0);
  transition: 0.3s all ease;
}

.header__link:hover:after {
  transform: scale(1);
}

.header__language {
  display: flex;
  align-items: center;
  position: relative;
}

.header__language__list {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.header__language__list li {
  margin-right: 15px;
}

.header__language__list li:last-child {
  margin-right: 0px;
}

.header__language__link {
  font-family: "Montserrat";
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 12px;
}

.header__language__link.active__2 {
  font-weight: 700;
}

.header__language__link.active__2::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 1.5px;
  background-color: #f39235;
  font-weight: 400;
}

.header__language__link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 1.5px;
  background-color: #f39235;
  transform: scale(0);
  transition: 0.3s all ease;
}

.header__language__link:hover:after {
  transform: scale(1);
}

.header__logo_telephone {
  flex: 0 0 24px;
  z-index: 3;
  margin-left: 33px;
}

.header__logo_telephone img {
  max-width: 100%;
}

@media (max-width: 1300px) {
  .header.active:before {
    background-color: black;
  }

  .header__body {
    height: 70px;
  }

  .header__logo {
    flex: 0 0 120px;
  }

  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    right: 208px;
    top: 24px;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    overflow: auto;
    top: -160%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f39235;
    padding-top: 10px;
    transition: 0.3s all ease;
  }
  .header__menu.active {
    top: 0;
    overflow: auto;
  }
  .header__list {
    display: block;
    margin-top: 110px;
  }
  .header__list li {
    margin-right: 0px;
    margin-bottom: 25px;
    text-align: center;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}

@media (max-width: 430px) {
  .header__burger {
    right: 17px;
    top: 24px;
  }

  .header__burger.active {
    right: 208px;
    top: 24px;
  }

  .header__language {
    display: none;
  }
  .header__language.active {
    display: flex;
  }
}

@media (max-width: 390px) {
  .header__body.active {
    justify-content: flex-end;
  }

  .header__logo {
    display: block;
  }

  .header__logo.active {
    display: none;
  }
}

/* footer //////////////////////////////////////////////////////////////////////////////////////// */

.footer {
  background-color: #fff;
}

.footer__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 30px;
}

.footer__body {
  padding: 118px 0px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__link {
  font-family: "Montserrat", sans-serif;
  margin: 0px 24px 20px;
}

.footer_logo_con {
  transform: scale(0);
  transition: all 0.8s ease 0s;
  margin: 0px 20px 20px;
}

.footer_logo_con._active {
  transform: scale(1);
}

.footer__link__label {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 0px 0px 4px 0px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.7s;
}

.footer__link__label._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.footer__link__text {
  margin: 0px 0px 4px 0px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.7s;
}

.footer__link__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.footer__link__text a {
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
  text-decoration: none;
  margin: 0px 0px 8px 0px;
  transition: 0.3s all ease;
}

.footer__link__text a:hover {
  color: rgb(243, 146, 53);
}

@media (max-width: 1330px) {
  .footer__body {
    padding: 70px 0px;
  }
}

@media (max-width: 430px) {
  .footer__links {
    display: block;
  }
}

@media (max-width: 386px) {
  .footer__body {
    padding: 30px 0px;
  }
  .footer__link__text a {
    font-size: 14px;
  }
  .footer__link__label {
    font-size: 14px;
  }
}

/* MAIN HTML ........................................................................................ */

/* main__title //////////////////////////////////////////////////////////////////////////// */

.main__title {
}

.main__title__body {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(50px);
}

.titile__img__contaioner {
  display: flex;
  transform: translateY();
}

.titile__img__contaioner__EF {
  display: flex;
}

.titile__img__contaioner__electro__farfor {
  display: flex;
  flex-direction: column;
}

.titile__img {
  /* flex: 0 1 200px; */
}

.titile__img img {
  max-width: 100%;
}

.titile__text__contaioner {
  display: flex;
  margin-top: 10px;
}

.titile__text__contaioner__text {
  margin: 0px 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.titile_lol {
  height: 50px;
}

/* Main video ////////////////////////////////////////////////////////////////////////////////////// */

#home {
  background: none;
  height: 100%;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.main_video_body {
  height: 100vh;
}

.main__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main_video_content_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 75px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 5px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}

.main_video_content_title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.main_video_content_text {
  max-width: 550px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 0px 5px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.7s;
  line-height: 24px;
}

.main_video_content_text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.main_r {
  height: 600px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

@media (max-width: 920px) {
  .main_video_content_title {
    font-size: 60px;
  }
  .main_video_content_text {
    max-width: 500px;
  }
}

@media (max-width: 570px) {
  .main_video_content_title {
    font-size: 50px;
  }
  .main_video_content_text {
    font-size: 12px;
    max-width: 450px;
    padding: 0px 25px;
  }
}

@media (max-width: 390px) {
  .main_video_content_title {
    font-size: 40px;
  }
  .main_video_content_text {
    font-size: 10px;
  }
}

/* main_about__as ////////////////////////////////////////////////////////////////////////////////////// */

.main_about__as {
  background-color: #fff;
}

.main_about__as__body {
  padding: 222px 0px 90px;
  display: flex;
  justify-content: space-between;
}

.main_about__as__text {
  font-family: "Montserrat", sans-serif;
  padding-top: 220px;
  padding-right: 30px;
}

.main_about__as__prhoto {
  flex: 0 0 1100px;
  position: relative;
  /* height: 900px; */
}

#main_about__as__prhoto__img__about__as__prhoto {
  display: none;
}

.main_about__as__prhoto img {
  max-width: 100%;
}

#main_about__as__prhoto__img {
  display: none;
}

.wrap {
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  transition: transform 100ms linear;
  box-sizing: border-box;
  padding: 377px 30px 377px 30px;
}

.background {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: -100px;
  left: -100px;
  bottom: -100px;
  right: -100px;
  inset: -100px;
  background-image: url(/Img/About_as_photo.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  transform: translateZ(150px);
}

.content {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(300px);
  -ms-transform: translateZ(300px);
  transform: translateZ(300px);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 350px;
}

@media (max-width: 1800px) {
  .background {
    inset: -50px;
  }
  .main_about__as__body {
    padding: 100px 0px 90px;
  }
}

@media (max-width: 1700px) {
  .background {
    inset: 0px;
  }
}

@media (max-width: 1550px) {
  .main_about__as__prhoto {
    flex: 0 0 900px;
  }

  .main_about__as__text {
    padding-top: 130px;
  }
  .__text__text {
    margin-bottom: 80px;
  }
}

@media (max-width: 1250px) {
  .main_about__as__prhoto {
    flex: 0 0 700px;
  }

  #main_about__as__prhoto__img {
    display: block;
  }

  .wrap {
    display: none;
  }

  .main_about__as__text {
    padding-top: 50px;
  }
}

@media (max-width: 1020px) {
  .__text__title {
    font-size: 40px;
  }
  .__text__text {
    font-size: 14px;
  }
  .__btn__text {
    font-size: 15px;
    padding: 10px 32px;
  }
  .main_about__as__prhoto {
    flex: 0 0 550px;
  }
  .main_about__as__text {
    padding-top: 20px;
  }
}

@media (max-width: 850px) {
  .main_about__as__body {
    flex-direction: column;
  }
  .__text__text {
    margin-bottom: 40px;
  }
  .main_about__as__prhoto {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .main_about__as__prhoto img {
    width: auto;
    height: fit-content;
    transform: scale(0);
    transition: 0.8s all ease;
  }

  .main_about__as__prhoto._active img {
    transform: scale(1);
  }
  .main_about__as__body {
    padding: 90px 0px 0px 0px;
  }
}

@media (max-width: 650px) {
  .main_about__as__prhoto {
    max-height: 450px;
  }
}

@media (max-width: 550px) {
  .main_about__as__prhoto {
    max-height: 400px;
  }
  .main_about__as__body {
    padding: 50px 0px 0px 0px;
  }
}

@media (max-width: 420px) {
  .main_about__as__prhoto {
    display: none;
  }
  .main_about__as__body {
    padding: 30px 0px 30px 0px;
  }
  .__btn {
    margin-bottom: 30px;
  }
  .__text__text {
    transform: translate(0px, 50%);
    font-size: 12px;
  }
  .__text__title {
    font-size: 35px;
  }
}

/* main_map  ////////////////////////////////////////////////////////////////////////////////////// */

.main_map {
  background-color: #fff;
  padding: 50px 0px 80px 0px;
}

.chartdiv_body {
  opacity: 0;
  transform: translate(0px, 10%);
  transition: all 0.8s ease 0.3s;
  margin-top: 80px;
  position: relative;
}

.chartdiv_body._active {
  opacity: 1;
  transform: translate(0px, 0px);
}

.chartdiv {
  width: 100%;
  height: 750px;
  position: relative;
}

.chartdiv2 {
  width: 100%;
  height: 850px;
  position: relative;
  z-index: 2;
}

.chartdiv_body__text {
  position: absolute;
  bottom: 96px;
  left: 50px;
  z-index: 5;
}

.__text__text_container {
  max-width: 560px;
}

.__text__text_container .__text__text {
  margin-bottom: 60px;
}

.main_map_about_items {
  margin-top: 120px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 200px;
}

.main_map_about_item__low {
}

.main_map_about_item_text {
  color: #f39235;
}

.main_map_about_item {
  padding: 0px 15px;
}

.main_map_about__text__text {
  max-width: 570px;
}

@media (max-width: 1600px) {
  .main_map_about_item .__text__text {
    max-width: 600px;
  }
  .main_map_about_items {
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1520px) {
  .__text__text_container {
    max-width: 400px;
  }
  .chartdiv_body__text {
    bottom: 16px;
  }
}

@media (max-width: 1330px) {
  .main_map_about_item .__text__text {
    max-width: 800px;
  }
  .main_map_about_items {
    grid-template-columns: 1fr;
    justify-content: start;
  }
}

@media (max-width: 1250px) {
  .__text__text_container {
    max-width: 800px;
  }
  .chartdiv_body__text {
    bottom: -36px;
    left: 0px;
  }
}

@media (max-width: 1200px) {
  .chartdiv_body {
    margin-top: 40px;
  }
}

@media (max-width: 950px) {
  .__text__text_container {
    max-width: 600px;
  }
}

@media (max-width: 750px) {
  .chartdiv {
    height: 500px;
    padding: 0px -30px 0px -30px;
  }
  .chartdiv2 {
    height: 500px;
    padding: 0px -30px 0px -30px;
  }
  .chartdiv_body {
    margin-top: 20px;
  }
  .chartdiv_body__text {
    bottom: -126px;
  }
  .__text__text_container {
    max-width: 500px;
  }
  .main_map {
    padding: 30px 0px 40px 0px;
  }
  .main_map_about {
    margin-top: 195px;
  }
}

@media (max-width: 450px) {
  .chartdiv_body {
    margin-top: -60px;
  }
  .chartdiv_body__text {
    bottom: -169px;
  }
}

@media (max-width: 350px) {
  .chartdiv_body__text {
    bottom: -242px;
  }
  .main_map_about {
    margin-top: 243px;
  }
}

@media (max-width: 319px) {
  .main_map_about_item {
    padding: 0px;
  }
  .__text__title {
    font-size: 30px;
  }
}

/* our__partners ////////////////////////////////////////////////////////////////////////////////////// */

.our__partners {
  background-color: #fff;
}

.our__partners__body {
  padding: 40px 0px 40px;
}

.our__partners__photos {
  padding: 100px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.our__partners__photo {
  padding: 20px;
  flex: 0 0 256px;
  transform: scale(0);
  transition: all 0.8s ease 0.3s;
}

.our__partners__photo._active {
  transform: scale(1);
}

.our__partners__photo img {
  max-width: 100%;
}

@media (max-width: 1330px) {
  .our__partners__photo {
    flex: 0 0 180px;
  }
  .our__partners__photos {
    padding: 50px 0px;
  }
  .our__partners__body {
    padding: 80px 0px;
  }
}

@media (max-width: 939px) {
  .our__partners__body {
    padding: 30px 0px;
  }
}

@media (max-width: 800px) {
  .our__partners__photo {
    flex: 0 0 130px;
    padding: 20px 15px;
  }
  .our__partners__photos {
    padding: 20px 0px;
  }
}

@media (max-width: 400px) {
  .our__partners__photo {
    padding: 25px 15px;
  }
  .our__partners__body {
    padding: 20px 0px;
  }
}

/* detailed_catalog ////////////////////////////////////////////////////////////////////////////////// */

.detailed_catalog {
  /* background-color: #d2d2d2; */
  background: rgb(210, 210, 210);
  background: linear-gradient(
    354deg,
    rgba(210, 210, 210, 1) 10%,
    rgba(255, 255, 255, 1) 90%
  );
  position: relative;
}

.detailed_catalog_body {
  padding: 170px 0px;

  position: relative;
}

.detailed_catalog_logo_con {
  position: absolute;
  top: 36px;
  right: -133px;
  width: 1275px;
  height: 1125px;
  background-image: url(/Img/detailed_catalog2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -47px 2px;
  transform: scale(0);
  transition: all 0.8s ease 0s;
}

.detailed_catalog_logo_con._active {
  transform: scale(1);
}

.detailed_catalog_logo_con img {
  max-width: 100%;
}

.detailed_catalog_body .__text__text {
  max-width: 460px;
}

.detailed_catalog_input_body {
  margin-top: 60px;
  background-color: #fff;
  padding: 64px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailed_catalog_input_body .__btn {
  margin-top: 60px;
}

.detailed_catalog .validate_form {
  max-width: 560px;
}

@media (max-width: 1870px) {
  .detailed_catalog_body {
    padding: 130px 0px;
  }
  .detailed_catalog_logo_con {
    width: 1064px;
    height: 976px;
    right: 20px;
  }
}

@media (max-width: 1633px) {
  .detailed_catalog_logo_con {
    width: 1008px;
    height: 920px;
    background-position: 114px 164px;
    background-size: contain;
  }
}

@media (max-width: 1426px) {
  .detailed_catalog_body {
    padding: 80px 0px;
  }
  .detailed_catalog_logo_con {
    width: 902px;
    height: 871px;
    background-position: 114px 164px;
    background-size: contain;
  }
}

@media (max-width: 1339px) {
  .detailed_catalog_logo_con {
    width: 822px;
    height: 769px;
    background-position: 116px -42px;
    background-size: contain;
  }
}

@media (max-width: 1237px) {
  .detailed_catalog_logo_con {
    width: 717px;
    height: 664px;
    background-position: 59px 10px;
  }
}

@media (max-width: 1172px) {
  .detailed_catalog_logo_con {
    display: none;
  }
  .detailed_catalog_body .__text__text {
    max-width: 100%;
  }
  .detailed_catalog .validate_form {
    max-width: 100%;
  }
  .detailed_catalog_input_body {
    max-width: 100%;
  }
}

@media (max-width: 1062px) {
  .detailed_catalog_logo_con {
    width: 708px;
    height: 809px;
    background-position: 63px 320px;
    background-size: contain;
  }
}

@media (max-width: 961px) {
  .detailed_catalog_logo_con {
    width: 589px;
    height: 750px;
    background-position: 64px 337px;
    background-size: contain;
  }
  .detailed_catalog_body {
    padding: 60px 0px;
  }
}

@media (max-width: 861px) {
  .detailed_catalog_body {
    max-width: 100%;
  }
}

@media (max-width: 371px) {
  .detailed_catalog_input_body {
    padding: 24px;
  }
}

/* input ////////////////////////////////////////////////////////////////////////// */

.detailed_catalog_input {
  position: relative;
  padding: 15px 0 15px 0px;
  margin-top: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input.form__field {
  color: #000;
}

.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 15px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  color: #000;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.detailed_catalog_input_validate {
  font-family: "Montserrat", sans-serif;
  padding: 15px 0px 5px;
  color: red;
  display: none;
}

.detailed_catalog_name_input_validate {
  display: block;
}

.detailed_catalog_phone_input_validate {
  display: block;
}

.detailed_catalog_email_input_validate {
  display: block;
}

/* ABOUT AS ........................................................................................ */

.about__titile {
  background-color: #fff;
}

.about__titile__body {
  padding: 100px 0px 126px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__titile__photo {
  flex: 0 1 800px;
  transform: scale(0);
  opacity: 0;
  transform: translate(0px, 0px);
  transition: all 0.8s ease 0.3s;
}

.about__titile__photo._active {
  opacity: 1;
  transform: scale(1);
  transform: translate(0px, 0px);
}

.about__titile__photo img {
  max-width: 100%;
}

.about__titile__label {
  font-family: "Montserrat", sans-serif;
  font-size: 160px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 700px;
  line-height: 200px;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}

.about__titile__label._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.about__titile__label h1 {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 91% 38%,
    rgba(0, 0, 0, 1) 44%,
    rgba(243, 146, 53, 1) 45%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 91% 38%,
    rgba(0, 0, 0, 1) 44%,
    rgba(243, 146, 53, 1) 45%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 91% 38%,
    rgba(0, 0, 0, 1) 44%,
    rgba(243, 146, 53, 1) 45%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 91% 38%,
    rgba(0, 0, 0, 1) 44%,
    rgba(243, 146, 53, 1) 45%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 91% 38%,
    rgba(0, 0, 0, 1) 44%,
    rgba(243, 146, 53, 1) 45%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1300px) {
  .about__titile__body {
    padding: 50px 0px 80px 0px;
  }
  .about__titile__label {
    font-size: 120px;
  }
  .about__titile__photo {
    flex: 0 1 700px;
  }
}

@media (max-width: 750px) {
  .about__titile__label {
    font-size: 80px;
    line-height: 100px;
  }
  .about__titile__body {
    padding: 60px 0px 0px 0px;
  }
  .about__titile__photo {
    flex: 0 1 600px;
  }
}

@media (max-width: 450px) {
  .about__titile__label {
    font-size: 60px;
    line-height: 80px;
  }
}

/* About_history //////////////////////////////////////////////////////////////////////////////// */

.about_history {
  background-color: #fbfbfb;
}

.about_history__body {
  padding: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about_history__text {
  padding-right: 50px;
}

.__text__text.about_history__text__text {
  margin-bottom: 25px;
  max-width: 666px;
}

.main_about__as__prhoto.about_history__as__prhoto {
  flex: 0 0 900px;
}

@media (max-width: 1300px) {
  #main_about__as__prhoto__img__about__as__prhoto {
    display: block;
  }
  #parallax__min {
    background-image: none;
  }

  .about_history__body {
    padding: 100px 0px;
    align-items: center;
  }
  .main_about__as__prhoto.about_history__as__prhoto {
    flex: 0 0 600px;
  }
}

@media (max-width: 1000px) {
  .main_about__as__prhoto.about_history__as__prhoto {
    display: none;
  }
  .about_history__body {
    padding: 50px 0px;
  }
}

/* about_product ///////////////////////////////////////////////////////////////// */

.about_product {
  background-color: #fff;
}

.about_product__body {
  padding: 147px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_product__text {
  max-width: 645px;
  padding-right: 40px;
}

.about_product__text__text {
  margin-bottom: 35px;
}

.about_product__text__text__2 {
  margin-bottom: 50px;
  max-width: 392px;
  text-align: center;
}

.about_product__advantages {
  padding-top: 235px;
  width: 100%;
  padding-left: 30px;
}

.about_product__advantages__items {
  position: relative;
}

.about_product__advantages__item__photo__patch__check {
  position: absolute;
  top: -361px;
  right: 343px;
}

.about_product__advantages__item__photo__lightning {
  position: absolute;
  top: -270px;
  right: 560px;
}

.about_product__advantages__item__photo__person__check {
  position: absolute;
  top: -270px;
  right: 126px;
}

/* 18px */

.about_product__advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_product__advantages__item__photo {
  background-color: #e5e5e5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: all 0.8s ease 0.2s;
  transform: scale(0);
}

.about_product__advantages__item__photo._active {
  transform: scale(1);
}

.about_product__advantages__item__photo img {
  max-width: 100%;
}

.about_product__advantages__item__text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  max-width: 235px;
  text-align: center;
  transition: all 0.8s ease 0.2s;
  transform: translate(0px, 120%);
  opacity: 0;
}

.about_product__advantages__item__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.about_product__text__buttom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about_product__text__text__2 {
  position: absolute;
  right: 231px;
}

.about_product__btn {
  position: absolute;
  right: 332px;
  top: 126px;
}

@media (max-width: 1574px) {
  .about_product__text {
    max-width: 550px;
    padding-right: 30px;
  }
}

@media (max-width: 1458px) {
  .about_product__text {
    max-width: 450px;
    padding-right: 30px;
  }
  .about_product__advantages {
    padding-top: 150px;
    padding-left: 10px;
  }
  .about_product__body {
    padding: 100px 0px;
  }
}

@media (max-width: 1328px) {
  .about_product__advantages__item__photo__person__check {
    right: 18px;
  }
  .about_product__advantages__item__photo__patch__check {
    right: 235px;
  }
  .about_product__advantages__item__photo__lightning {
    right: 452px;
  }
  .about_product__text__text__2 {
    right: 123px;
  }
  .about_product__btn {
    right: 224px;
  }
}

@media (max-width: 1222px) {
  .about_product__text {
    max-width: 400px;
    padding-right: 30px;
  }
}

@media (max-width: 1151px) {
  .about_product__advantages__item__photo {
    width: 50px;
    height: 50px;
  }
  .about_product__advantages__item__photo img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .about_product__advantages__item__photo__person__check {
    right: 18px;
  }
  .about_product__advantages__item__photo__patch__check {
    right: 200px;
  }
  .about_product__advantages__item__photo__lightning {
    right: 374px;
  }
  .about_product__text__text__2 {
    top: -50px;
    right: 66px;
  }
  .about_product__btn {
    right: 155px;
    top: 67px;
  }
  .about_product__advantages__item__text {
    max-width: 167px;
  }
}

@media (max-width: 994px) {
  .about_product__advantages__item__text {
    max-width: 310px;
  }
  .about_product__advantages__item__photo__patch__check {
    right: 58px;
  }
  .about_product__advantages__item__photo__lightning {
    right: 54px;
    top: -105px;
  }
  .about_product__advantages__item__photo__person__check {
    right: 54px;
    top: -230px;
  }
  .about_product__text__text__2 {
    top: 49px;
    right: 53px;
    max-width: 300px;
  }
  .about_product__btn {
    right: 120px;
    top: 188px;
  }
}

@media (max-width: 854px) {
  .about_product__text {
    max-width: 300px;
    padding-right: 30px;
  }
  .about_product__body {
    padding: 66px 0px;
  }
  .about_product__advantages {
    padding-top: 70px;
    padding-left: 10px;
  }
}

@media (max-width: 762px) {
  .about_product__text {
    max-width: 500px;
  }
  .about_product__body {
    display: block;
  }
  .about_product__advantages__item__photo__lightning {
    position: static;
  }
  .about_product__advantages__item__photo__person__check {
    position: static;
  }
  .about_product__advantages__item__photo__patch__check {
    position: static;
  }
  .about_product__advantages {
    padding-top: 30px;
    padding-left: 10px;
  }
  .about_product__advantages__items {
    display: flex;
    justify-content: space-between;
  }
  .about_product__advantages__item {
    margin-right: 20px;
  }
  .about_product__text__buttom {
    display: flex;
    margin-top: 30px;
  }
  .about_product__text__text__2 {
    position: static;
    text-align: center;
  }
  .about_product__btn {
    position: static;
  }
}

@media (max-width: 450px) {
  .about_product__advantages__items {
    display: block;
  }
  .about_product__advantages__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .about_product__body {
    padding: 40px 0px;
  }
  .about_product__text__buttom {
    margin-top: 30px;
    align-items: flex-start;
  }
  .about_product__text__text__2 {
    text-align: left;
  }
}

/* about_our__partners */

.about_our__partners {
  background-color: #fbfbfb;
}

/* contact_us HTML .................................................................. */

.contact_us {
  background-color: #fff;
}

.contact_us__body {
  padding: 250px 0px 150px;
  display: flex;
  justify-content: space-between;
}

.contact_us__contacts__links__ {
  transform: translate(0px, -120%);
  opacity: 0;
  transition: all 0.8s ease 0.7s;
}

.contact_us__contacts__link a {
  text-decoration: none;
}

.contact_us__contacts__links__._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.contact_us__contacts__tels {
  padding-left: 60px;
  position: relative;
}

.contact_us__contacts__tel {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.contact_us__contacts__tel a {
  text-decoration: none;
  color: #000;
}

.contact_us__contacts__tel__img {
  position: absolute;
  top: -8px;
  left: 7px;
}

.contact_us__contacts__emails {
  padding-left: 60px;
  position: relative;
}

.contact_us__contacts__email {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.contact_us__contacts__email a {
  text-decoration: none;
  color: #000;
}

.contact_us__contacts__email__img {
  position: absolute;
  top: -3px;
  left: 0px;
}

.contact_us__contacts__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 205px;
  margin: 60px 0px 0px 60px;
}

.contact_us__contacts__link__icon {
  font-size: 40px;
  color: #a3a3a3;
  transition: 0.7s ease all;
}

.contact_us__contacts__link__icon:hover {
  color: #000;
}

.contact_us__works__time {
  transition: all 0.8s ease 0.7s;
  transform: scale(0);
}

.contact_us__works__time._active {
  transform: scale(1);
}

.contact_us__works__time__body {
  background-color: #fff;
  padding: 35px 80px 70px;
  -webkit-box-shadow: 9px 10px 18px -3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 9px 10px 18px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 9px 10px 18px -3px rgba(34, 60, 80, 0.2);
}

.contact_us__works__time__label {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.contact_us__works__time__label.contact_us__works__time__label__2 {
  margin-bottom: 50px;
}

.contact_us__works__time__text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .contact_us__body {
    padding: 150px 0px 80px;
  }
}

@media (max-width: 970px) {
  .contact_us__body {
    display: block;
  }
  .contact_us__works__time {
    margin-top: 60px;
  }
  .contact_us__works__time__body {
    background-color: #fff;
    padding: 0px 0px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .contact_us__contacts__email {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .contact_us__contacts__tel {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .contact_us__contacts__email__img {
    top: -6px;
  }
  .contact_us__contacts__tel__img {
    top: -9px;
  }
}

@media (max-width: 420px) {
  .contact_us__body {
    padding: 100px 0px 40px;
    display: block;
  }
  .contact_us__contacts__tel__img {
    display: none;
  }
  .contact_us__contacts__email__img {
    display: none;
  }
  .contact_us__contacts__tels {
    padding-left: 0px;
  }
  .contact_us__contacts__emails {
    padding-left: 0px;
  }
  .contact_us__contacts__links {
    justify-content: space-around;
    max-width: 100%;
    margin: 60px 0px 0px 0px;
  }
}

@media (max-width: 340px) {
  .contact_us__contacts__email {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .contact_us__contacts__tel {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .contact_us__contacts__links {
    margin: 30px 0px 0px 0px;
  }
}

/* for__partners ///////////////////////////////////////////////////////////////////// */

.for__partners {
  background-color: #fff;
}

.for__partners__body {
  padding: 0px 0px 100px;
}

.for__partners__text {
  max-width: 1160px;
  margin-bottom: 25px;
}

.for__partners__text:last-child {
  margin-bottom: 0px;
}

@media (max-width: 1200px) {
  .for__partners__body {
    padding: 0px 0px 80px;
  }
}

@media (max-width: 600px) {
  .for__partners__body {
    padding: 0px 0px 40px;
  }
}

/* contact__question ///////////////////////////////////////////////////////////////// */

.contact__question {
  background-color: #fbfbfb;
}

.contact__question__body {
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__question__text {
  padding-right: 30px;
}

.contact__question__text__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 480px;
  line-height: 24px;
}

.contact__question__text__text__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.validate_form__contacts {
  width: 100%;
  max-width: 560px;
}

@media (max-width: 1200px) {
  .contact__question__body {
    padding: 50px 0px;
  }
  .validate_form__contacts {
  }
}

@media (max-width: 750px) {
  .contact__question__body {
    padding: 40px 0px;
  }
  .contact__question__body {
    display: block;
  }
}

@media (max-width: 450px) {
  .detailed_catalog_input_body__contact {
    padding: 30px;
  }
}

.map-marker {
  /* adjusting for the marker dimensions
  so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
  box-sizing: border-box;
  position: absolute;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f39235;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #f39235;
  position: absolute;
  box-sizing: border-box;
}
.map-marker .dot {
  border: 10px solid #f39235;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  opacity: 0;
  box-sizing: border-box;
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

/* References HTML ............................................................................. */

/* reference__map //////////////////////////////////////////////////////////////////////////// */

.reference__map {
  background-color: #fff;
}

.reference__map__body {
  padding: 226px 0px 150px;
}

.chartdiv__modal__window {
  position: absolute;
  width: 166px;
  height: 176px;
  top: 57px;
  right: 558px;
  z-index: 2;
}

div#pop-up {
  z-index: 2;
  display: none;
  position: absolute;
  width: 474px;
  padding: 30px 30px 20px 30px;
  background: #fff;
  color: #000000;
  /* border: 1px solid #1a1a1a; */
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 3px 3px 37px -12px rgba(34, 60, 80, 0.39);
  -moz-box-shadow: 3px 3px 37px -12px rgba(34, 60, 80, 0.39);
  box-shadow: 3px 3px 37px -12px rgba(34, 60, 80, 0.39);
}

.chartdiv__modal__window__body__2 {
  position: relative;
}

.chartdiv__modal__window__label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.chartdiv__modal__window__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #4d4d4d;
  line-height: 20px;
  max-width: 370px;
}

.chartdiv__modal__window__text__portrait {
  position: absolute;
  bottom: 0;
  left: 122px;
}

.chartdiv__modal__window__text__portrait__label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.chartdiv__modal__window__text__portrait__text {
  font-size: 16px;
  font-weight: 400;
}

.pop-up_bac {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}

@media (max-width: 1500px) {
  .chartdiv__modal__window {
    right: 454px;
  }
}

@media (max-width: 1400px) {
  .chartdiv__modal__window {
    right: 407px;
  }
}

@media (max-width: 1250px) {
  .chartdiv__modal__window {
    right: 342px;
    top: 75px;
  }
  .reference__map__body {
    padding: 144px 0px 85px;
  }
}

@media (max-width: 1130px) {
  .chartdiv__modal__window {
    right: 304px;
    top: 95px;
  }
}

@media (max-width: 1000px) {
  .chartdiv__modal__window {
    right: 251px;
    top: 119px;
  }
  .__text__title__reference__map {
    margin-bottom: -107px;
  }
}

@media (max-width: 850px) {
  .chartdiv__modal__window {
    right: 231px;
    top: 156px;
    width: 113px;
    height: 146px;
  }
  .reference__map__body {
    padding: 118px 0px 10px;
  }
}

@media (max-width: 750px) {
  .chartdiv__modal__window {
    right: 189px;
    top: 47px;
    width: 113px;
    height: 146px;
  }
  div#pop-up {
    width: 350px;
  }
}

@media (max-width: 650px) {
  .chartdiv__modal__window {
    right: 139px;
    top: 70px;
    width: 113px;
    height: 146px;
  }
}

@media (max-width: 530px) {
  div#pop-up {
    width: 278px;
    padding: 15px 15px 10px 15px;
  }
  .chartdiv__modal__window__label {
    font-size: 14px;
  }
  .chartdiv__modal__window__text {
    font-size: 12px;
    max-width: 260px;
  }

  .chartdiv__modal__window__text__portrait {
    position: absolute;
    bottom: 0;
    left: 122px;
  }

  .chartdiv__modal__window__text__portrait__label {
    font-size: 14px;
  }

  .chartdiv__modal__window__text__portrait__text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .chartdiv__modal__window {
    right: 131px;
    top: 120px;
    width: 56px;
    height: 90px;
  }
}

@media (max-width: 450px) {
  .chartdiv__modal__window {
    right: 112px;
    top: 120px;
    width: 56px;
    height: 90px;
  }
}

@media (max-width: 400px) {
  .chartdiv__modal__window {
    right: 94px;
    top: 142px;
    width: 56px;
    height: 90px;
  }
  div#pop-up {
    width: 171px;
    padding: 15px 15px 10px 15px;
  }
  .chartdiv__modal__window__label {
    font-size: 12px;
  }
  .chartdiv__modal__window__text {
    font-size: 10px;
    max-width: 260px;
  }

  .chartdiv__modal__window__text__portrait {
    bottom: 5px;
    left: 90px;
  }

  .chartdiv__modal__window__img {
    width: 80px;
    height: 80px;
  }

  .chartdiv__modal__window__text__portrait__label {
    font-size: 12px;
    line-height: 18px;
  }

  .chartdiv__modal__window__text__portrait__text {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .chartdiv__modal__window {
    right: 76px;
    top: 165px;
    width: 56px;
    height: 63px;
  }
}

@media (max-width: 300px) {
  .chartdiv__modal__window {
    right: 63px;
    top: 165px;
    width: 56px;
    height: 63px;
  }
}

/* reviews //////////////////////////////////////////////////////////////////////////////// */

.reviews {
  background-color: #fbfbfb;
}

.reviews__body {
  padding: 80px 0px 95px;
  font-family: "Montserrat", sans-serif;
}

.reviews__items {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews__item {
  background-color: #fff;
  padding: 40px;
  transform: translate(0px, 60%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  margin: 0px 15px 60px;
}

.reviews__item._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.reviews__item:hover {
  -webkit-box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  -moz-box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
}

.reviews__item__icon {
  margin-bottom: 38px;
}

.reviews__item__label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.reviews__item__text {
  font-size: 14px;
  font-weight: 400;
  max-width: 370px;
  line-height: 18px;
}

.reviews__item__person {
  margin-top: 37px;
  display: flex;
  align-items: flex-end;
}

.reviews__item__person__photo {
  flex: 0 0 133px;
}

.reviews__item__person__photo img {
  max-width: 100%;
}

.reviews__item__person__text {
  margin-left: 20px;
}

.reviews__item__person__text__label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.reviews__item__person__text__text {
  font-size: 16px;
}

@media (max-width: 1490px) {
  .reviews__items {
    justify-content: space-around;
  }
}

@media (max-width: 1019px) {
  .reviews__item__text {
    max-width: 700px;
  }
  .reviews__body {
    padding: 60px 0px 60px;
    font-family: "Montserrat", sans-serif;
  }
  .reviews__items {
    margin-top: 80px;
  }
}

@media (max-width: 500px) {
  .reviews__item__person__photo {
    flex: 0 0 100px;
  }
  .reviews__item__label {
    font-size: 14px;
  }
  .reviews__item__text {
    font-size: 12px;
  }
  .reviews__item__person__text__label {
    font-size: 14px;
    line-height: 18px;
  }

  .reviews__item__person__text__text {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .reviews__item__person__photo {
    flex: 0 0 80px;
  }
  .reviews__item {
    padding: 10px;
  }
  .reviews__items {
    margin-top: 40px;
  }
}

/* contact__question__reference ////////////////////////////////////////////////////////*/

.contact__question__reference {
  background-color: #fff;
}

.detailed_catalog_input_body__contact {
  -webkit-box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  -moz-box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
}

/* Product catalog HTML ......................................................................... */

/* product__catalog //////////////////////////////////////////////////////////////////////// */

.product__catalog {
  background-color: #fff;
}

.product__catalog__body {
  padding: 200px 0px 100px;
  font-family: "Montserrat", sans-serif;
}

.product__catalog__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 100px -25px 0px;
}

.product__catalog__item {
  margin: 0px 25px 120px;
  color: #fff;
  transform: translate(0px, 60%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  padding: 0px 25px;
}

.product__catalog__item._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.product__catalog__item:hover {
  -webkit-box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  -moz-box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  box-shadow: 0px 0px 67px -17px rgba(34, 60, 80, 0.21);
  color: #f39235;
}

.__text__title__product__catalog {
  transform: translate(0px, -120%);
}

.product__catalog__item__text {
  background-color: #000;
  padding: 16px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin: 0px -25px;
  max-width: 414px;
}

@media (max-width: 1490px) {
  .product__catalog__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 100px -25px 0px;
  }
}

@media (max-width: 1200px) {
  .product__catalog__body {
    padding: 140px 0px;
  }
}

@media (max-width: 995px) {
  .product__catalog__body {
    padding: 130px 0px 100px;
  }
}

@media (max-width: 600px) {
  .product__catalog__item__photo img {
    object-fit: contain;
    width: 300px;
  }
}

@media (max-width: 450px) {
  .product__catalog__item__photo img {
    object-fit: contain;
    width: 200px;
  }
  .product__catalog__item {
    margin: 0px 25px 60px;
  }
  .product__catalog__item__text {
    font-size: 18px;
  }
  .product__catalog__items {
    margin: 60px -25px 0px;
  }
  .product__catalog__body {
    padding: 100px 0px 20px;
  }
}

.trigger__catalog {
  position: relative;
}

#pop__up__catalog {
  margin-top: 20px;
  display: none;
  position: absolute;
  width: 490px;
  padding: 30px 24px 24px;
  background: #000;
  color: #fff;
  font-size: 14px;
}

.pop__up__catalog__list {
  list-style: none;
}

.pop__up__catalog__link {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.pop__up__catalog__link a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease all;
}

.pop__up__catalog__link a:hover {
  color: #f39235;
}

.pop__up__catalog__link:last-child {
  margin-bottom: 0px;
}

.pop__up__catalog__help {
  display: none;
  width: 150px;
  height: 50px;
  position: absolute;
}

.img__location {
  background-image: url(/Img/geo-alt-fill.svg);
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3s ease all;
}

.img__location:hover {
  transform: scale(1.85);
}

.map-marker {
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.pop-up__map__text {
  opacity: 0;
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: #000;
  color: #fff;
  font-size: 12px;
  top: -204px;
  left: -54px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 5;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 4px -2px 39px -5px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 4px -2px 39px -5px rgba(34, 60, 80, 0.12);
  box-shadow: 4px -2px 39px -5px rgba(34, 60, 80, 0.12);
  transition: 0.3s ease all;
}

.pop-up__map__text::after {
  content: "";
  position: absolute;
  top: 119px;
  left: 57px;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 93px solid #000;
}
